@import '~font-awesome/scss/_variables.scss';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

@import "~bootstrap/scss/bootstrap";



.wrapper {
    background-color: #ddd;
    display: flex;
}