@import '~font-awesome/scss/_variables.scss';
$fa-font-path: "~font-awesome/fonts";

@import '~./libs/bootstrap/bootstrap';
@import '~font-awesome/scss/font-awesome';



.wrapper {
    background-color: #ddd;
    display: flex;
}